<article>
    {{!-- <head>
        <title>Character Finder</title>
       
    </head> --}}
        <h1>
            {{title}}
        </h1>
        <p> This website provides the details about Marvel Characters. You can search below with your favourite character. And you can read or get to know more about your favourite Marvel character </p>
        {{!-- Form --}}
        <form action="/search" method="POST" class="form">
            <label for="searchTerm"> Enter search term</label>
                <input type="text" id="searchTerm" name="searchTerm" placeholder="Search character" />
            
            <button type="submit"  >Search</button>
        </form>
    


</article>